@font-face {
	font-family: 'open-sans';
	font-weight: 200;
	src: url("./fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'open-sans';
	src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

html, body, #workbench {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: 'open-sans';
}

#viewport {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--sceneobject-width);
	right: var(--object-properties-width);
}

#ui {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

:root {
	--base-background-color: #24252E;
	--over-background-color: #1f1f25;
	--darker-background-color: #111218;
	--accent-color-primary: #0a7ba3;

	--sceneobject-width: 250px;
	--object-properties-width: 250px;

}

